<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceX Tracker Homepage</title>
  </head>
  <body>
    <div class="bodyNews">
      <ul>
        <% newsFront.forEach(function(headline) { %>
        <li>
          <div class="headlineTitle">
            <h2><%= headline.title %></h2>
          </div>
          <div class="headlineContainer">
            <a href=<%=headline.featured_image%>><img class="headlineImage" src= <%=headline.featured_image%> alt=<%=headline.title%>></a>
          </div>
          <div class="imageFollow">
                <form action="/images/add" method="POST">
                    <input name="imageUrl" type="hidden" value=<%=headline.featured_image%>>
                    <input type="submit">
                </form>
          </div>
          <div class="headlineLink">
            <a target="_blank" href= <%=headline.url%>><h6></h6>Read more at <%=headline.news_site_long%></h6></a>
          </div>
          <div class="headlineFollow">
              <button>Add this article to favorites.</button>
          </div>
          <br>
        </li>
        <% }) %>
      </ul>
      <!-- forEach: !!!
        news
        headline
        info
        content
        link -->
    </div>
    <!-- <div class="sideNav">
      <h2>NAVIGATE</h2>
      <a href="/faveNews">Fave News</a>
      <br>
      <a href="/">Fave Images</a>
      <br>
      <a href="/faveSpaceX">Fave SpaceX</a>
      <br>
      <a href="/">Manage Faves</a>
      <br>
      <a href="/upcoming">Upcoming Launches</a>
      <br>
      <a href="/">Latest Launches</a>
      <br>
      <a href="/">Explore SpaceX API</a>
      <br>
      <a href="/profile">View/Edit Profile</a>
    </div> -->
    <!-- <div class="newsFooter">
      <div class="footerImg">
        <img src="http://www.placekitten.com/100/100" alt="News Footer Image" />
      </div>
      <div class="footerImg">
        <img src="http://www.placekitten.com/100/100" alt="News Footer Image" />
      </div>
      <div class="footerImg">
        <img src="http://www.placekitten.com/100/100" alt="News Footer Image" />
      </div>
      <div class="footerImg">
        <img src="http://www.placekitten.com/100/100" alt="News Footer Image" />
      </div>
      <div class="footerImg">
        <img src="http://www.placekitten.com/100/100" alt="News Footer Image" />
      </div>
    </div> -->
  </body>
</html>
